@import "../../sass/variables";
@import "../../sass/media-query";
@import "../../sass/color";

.footer {
  width: 100%;
  height: auto;
  background-color: $primary-text-col;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 8.4rem 0;

  &-content {
    position: relative;
    max-width: 104.4rem;
    width: 100%;
    height: 100%;
    margin: 0 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    .footer-logo {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--img {
        width: 6rem;
        height: 6rem;
      }

      .footer-subtitle {
        color: $white;
        margin-top: 3rem;
        line-height: 1.6;
        opacity: 0.8;
      }
    }

    .footer-icons {
      display: flex;
      margin-top: 3rem;
      flex-wrap: wrap;

      &--link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        background-color: #f1f1f1;
        margin: 1rem;
        border-radius: 30%;
        box-shadow: 0 5px 15px -5px #00000070;
        overflow: hidden;
        position: relative;
        backface-visibility: hidden;

        .footer-icon {
          width: 2rem;
          height: 2rem;
          line-height: 9rem;
          filter: invert(52%) sepia(76%) saturate(6334%) hue-rotate(174deg)
            brightness(95%) contrast(101%);
          transition: 0.2s linear;

          @media #{$mq-450-down} {
            width: 1.8rem;
            height: 1.8rem;
          }
        }

        .yt-icon {
          width: 2.5rem;
          height: 2.5rem;

          @media #{$mq-450-down} {
            width: 1.8rem;
            height: 1.8rem;
          }
        }

        &:hover .footer-icon {
          transform: scale(1.2);
          filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(239deg)
            brightness(106%) contrast(101%);
        }

        &::before {
          content: "";
          position: absolute;
          width: 120%;
          height: 120%;
          background-color: $blue;
          transform: rotate(45deg);
          left: -110%;
          top: 90%;
        }
        &:hover::before {
          animation: AnimateIcon 0.7s 1;
          top: -10%;
          left: -10%;
        }

        &:hover {
          border: 1px solid $white;
        }

        @keyframes AnimateIcon {
          0% {
            left: -110%;
            top: 90%;
          }
          50% {
            left: 10%;
            top: -30%;
          }
          100% {
            top: -10%;
            left: -10%;
          }
        }
        @media #{$mq-450-down} {
          width: 3.5rem;
          height: 3.5rem;
        }
      }
    }

    .footer-copyright {
      color: $white;
      margin-top: 4rem;
      text-align: center;
    }

    @media #{$mq-768-down} {
      margin: 0 2rem;
    }
  }
}
